.header {
  font-family: Titillium;
  font-size: 29px;
  font-weight: lighter;
  background-color: black !important;
  height: 100px;
  color: #45b1e7 !important;
  box-shadow: 5px 8px 10px #888 !important;
  border-right: 5px solid white;
}
.selecComp {
  width: 40%;
}
.titles {
  font-family: TitilliumBold !important;
  width: 40%;
  font-size: 20px;
  text-align: left;
  color: #45b1e7;
}
#paper {
  background-color: #45b1e7;
  width: 20px;
  font-family: TitilliumBold !important;
  font-size: 13px;
  color: black;
  text-align: center;
  margin-left: 3px;
}
.baseline {
  align-items: flex-end !important;
}
