.textTypo {
  font-family: TitilliumBold !important;
  font-size: 20px !important;
  color: black !important;
}
.paper_sort {
  background-color: green;
  width: 20px;
  font-family: TitilliumBold !important;
  font-size: 13px;
  color: white;
  text-align: center;
  margin-left: 3px;
}
@media only screen and (max-width: 760px) {
  .paper_sort {
    width: 5px !important;
    color: black;
  }
  .textTypo{
    font-size: 12px !important;
  }
}
