* {
  margin: 0px;
  padding: 0px;
}

.flexRow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.flexCol {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.body {
  width: 100%;
  font-family: Titillium !important;
}

@font-face {
  font-family: Titillium;
  src: url("../src/fonts/TitilliumWeb-Light.ttf");
}
@font-face {
  font-family: TitilliumBold;
  src: url("../src//fonts/TitilliumWeb-Bold.ttf");
}
